.form-control, .thumbnail {
    border-radius: 2px;
}
.btn-danger {
    background-color: #B73333;
}

.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.logo-img-preview{
    width: 100%;
    max-width: 200px;
}

.charity-img-preview {
    width: 100%;
    max-width: 200px;
    border-radius: 70px !important;
}

.img-preview {
    width: 100%;
    max-width: 300px;
}

.groupinfodiv{
    min-height: 50px;
    align-items: center;
    display: flex
}

.groupinfotitlelabel{
    text-align: right;
    font-weight: normal;
}

.groupinfovaluelabel{
    text-align: left;
    font-size: 18px;
}

.jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: -280px;
    padding: 6px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#preview-pane .preview-container {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}


.profileimgmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.profileimgmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 343px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Close Button */
.profileimgclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}